<html>
    <h1>
        Hi there
    </h1>
    <p>Candidate {{.Email}} registered</p>
    <h2>Please judge him accordingly</h2>
    <div>
        <a href="{{.AcceptEndpoint}}">To accept</a>
        <a href="{{.DenyEndpoint}}">To deny</a>
    </div>
</html>
